/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.carrossel {
    position: relative;
    height: 500px;
    width: 80%;
    margin: 0 auto;
}

.carrossel-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrossel-container_principal {
    height: 100%;
    position: relative;
}

.carrossel-container {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carrossel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carrossel-botao {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carrossel-botao_esquerda {
    left: -30px;
}

.carrossel-botao_direita {
    right: -30px;
}

.carrossel-botao img {
    width: 15px
}

.carrossel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carrossel-indicador {
    border : 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    background: rgba(0, 0, 0, 0.3)
}

.carrossel-indicador.slide-active {
    background: rgba(0, 0, 0, 0.8)
}